<nav class="navbar navbar-default navbar-fixed-top navbar-inverse" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">GetBookMarks</a>
    </div>
    <ul class="nav navbar-nav pull-right">
        <li>{{#link-to 'newstory'}}<span class="glyphicon glyphicon-plus"></span> Submit Story{{/link-to}}</li>
    </ul>
  </div>
</nav>

<div id="main" class="container">
{{outlet}}
</div>